/*-- scss:defaults --*/


/*-- scss:rules --*/

.exercises-block {
  display:block;
  background-color: #e6f7ff;
  padding: 6px;
  border: 2px solid #4da6ff;
  border-radius: 5px;
  margin-top: 20px;
}

.exercises-title {
  color: #0066cc; 
  font-weight: bold;
  font-size: 105%;
}


